// Include any default variable overrides here (though functions won't be available)
@import "./vars.scss";
@import "./font-face.scss";
@import "../node_modules/owl.carousel/src/scss/owl.carousel.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

body.lock {
  overflow: hidden;
}

@include media-breakpoint-down(lg) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }
}

.section {
  padding: 96px 0;

  @include media-breakpoint-up(lg) {
    padding: 160px 0;
  }
}

// Additional custom
.header {
  padding: 24px 0;
  background-color: $white;

  &__logo {
    height: 24px;
    display: block;

    img {
      display: block;
      height: 100%;
    }
  }

  &__nav {
    @include media-breakpoint-down(lg) {
      width: 100%;
      height: calc(100vh - 80px);
      position: fixed;
      top: 80px;
      right: 0;
      transform: translateX(100%);
      z-index: 200;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $white;
      padding: 20px 20px 72px;
      transition: 250ms ease-in-out;
    }

    ul {
      list-style: none;

      li {
        margin-left: 4px;

        a {
          &:not(.btn-primary) {
            &:hover {
              color: $primary;
            }

            @include media-breakpoint-down(lg) {
              padding-left: 0;
              padding-right: 0;
            }
          }

          &.contact-btn {
            margin-left: 24px;

            @include media-breakpoint-down(lg) {
              margin-left: 0;
              margin-top: 32px;
            }
          }
        }
      }
    }
  }

  &__burger {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    width: 32px;
    height: 32px;
    position: relative;

    img {
      transition: opacity 250ms ease-in-out;

      &:last-child {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &.active {
    .header__nav {
      transform: translateX(0);
    }

    .header__burger {
      img {
        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }
  }
}

.hero {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 80px);
  padding: 80px 0;

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 98px);
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba($white, 0.9) 0%, rgba($white, 0.15) 100%);
  }

  .container {
    z-index: 1;
  }

  &__social {
     a {
      padding: 8px;
     }
  }
}

.c-card {
  &__icon {
    margin-bottom: 24px;
  }
}

.c-container {
  padding-left: 20px;

  @media (min-width:1320px) {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: 0;
  }
}

.case {
  &__image {
    padding-bottom: 66.666%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      transform: scale(1.05);
      transition: transform 250ms ease-in-out;
    }
  }

  &:hover {
    .case__image {
      img {
        transform: scale(1);
      }
    }

    h4 {
      color: $primary;
    }
  }
}

.c-image {
  height: 640px;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: -196px;
    bottom: -196px;
    width: 100%;
    left: 0;
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-image-right {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: -196px;
    bottom: 0;
    width: 100%;
    left: 0;
    height: auto;
  }
}