// Include any default variable overrides here (though functions won't be available)
@import "./vars.scss";
@import "./font-face.scss";
@import "../node_modules/owl.carousel/src/scss/owl.carousel.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

body.lock {
  overflow: hidden;
}

.section {
  padding: 160px 0;
}

// Additional custom
.header {
  padding: 24px 0;
  background-color: $white;

  &__logo {
    height: 24px;
    display: block;

    img {
      display: block;
      height: 100%;
    }
  }

  &__nav {
    @media (max-width: 991px) {
      width: 100%;
      height: calc(100vh - 75px);
      position: fixed;
      top: 75px;
      right: 0;
      transform: translateX(100%);
      z-index: 200;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
      padding: 35px 15px 75px;
      transition: 0.4s;
    }

    ul {
      list-style: none;

      li {
        margin-left: 4px;

        a {
          &:not(.btn-primary) {
            &:hover {
              color: $primary;
            }
          }

          &.contact-btn {
            margin-left: 24px;
          }
        }
      }
    }
  }

  &__burger {
    @media (min-width: 992px) {
      display: none;
    }

    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 8px;
      width: 50%;
      background: #d3531a;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }

      &:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 18px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 36px;
      }
    }
  }

  &.active {
    .header__nav {
      transform: translateX(0);
    }

    .header__burger {
      span {
        &:nth-child(1),
        &:nth-child(6) {
          transform: rotate(45deg);
        }

        &:nth-child(2),
        &:nth-child(5) {
          transform: rotate(-45deg);
        }

        &:nth-child(1) {
          left: 5px;
          top: 7px;
        }

        &:nth-child(2) {
          left: calc(50% - 5px);
          top: 7px;
        }

        &:nth-child(3) {
          left: -50%;
          opacity: 0;
        }

        &:nth-child(4) {
          left: 100%;
          opacity: 0;
        }

        &:nth-child(5) {
          left: 5px;
          top: 29px;
        }

        &:nth-child(6) {
          left: calc(50% - 5px);
          top: 29px;
        }
      }
    }
  }
}

.hero {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 98px);
  padding: 80px 0;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba($white, 0.9) 0%, rgba($white, 0.15) 100%);
  }

  .container {
    z-index: 1;
  }

  &__social {
     a {
      padding: 8px;
     }
  }
}

.c-card {
  &__icon {
    margin-bottom: 24px;
  }
}

.c-container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width:1320px) {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: 0;
  }
}
